table{
    align-self: center;
    height: auto;
}

td {
    align-content: center;
    padding: 15px;
    text-align: center;
}

th {
    align-content: center;
    padding: 15px;
    text-align: center;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 60%;
    margin: 20px auto 50px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: auto;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: auto;
    border: 0;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    padding: 14px;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.form header {
    text-align: center;
    color: #67b168;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    margin: 0 auto 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

/*.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}*/
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form.arc{
    display: inline-block !important;
}
.form.acr input label{
    font-family: "Roboto", sans-serif;
    outline: 0;
    display: inline-block !important;
    background: #f2f2f2;
    width: auto !important;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form img{
    height: 50px;
    padding: 5px;
}


.inline
{
    display: inline;
}

#userprofile {


    margin:auto;
    margin-top:50px;
    height:250px;
    width:400px;




}


table {
    width:400px;
    height:250px;
}

table tr td {

    background:white;
    border:1px solid white;
    height:50px;
    font-family:Cuprum;
    font-size:25px;
    color:#34495e;
    text-align:center;



}

table tr th {

    background:white;
    border:1px solid white;
    height:50px;
    font-family:Cuprum;
    font-size:25px;
    color: #090935;
    text-align:center;



}

#userprofile table tr td img { background-color:#34495e; border:none;}
#userprofile table tr td button { background-color:#34495e; border:none;}

#logout{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: auto;
    border: 0;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    padding: 14px;
}
#logout:hover,.form button:active,.form button:focus {
    background: #43A047;
}

#userprofile {


    margin:auto;
    margin-top:50px;
    height:250px;
    width:400px;




}


table { width:80%}

table tr td {

    background: #FFFFFF;
    border:1px solid white;
    height:50px;
    font-family:Cuprum;
    font-size:25px;
    color:#34495e;
    text-align:center;



}
